body {
    text-align: center;
    background-image: url("hawaii.jpg");
    background-size: cover;
}

#content{
    border: 2px solid;
    width: auto;
    display: inline-block;
    padding: 0px 10px;
    background-color: rgba(225, 242, 255, 0.7);
    border-radius: 0.5em;
    min-width: 30%;
}

a:visited { 
 text-decoration: none; 
 color: blue; 
}

li {
  text-align: left; 
  margin-left: 30%;
  list-style-position: inside;
}